
/* education block */
.educationBlockWrap {
    border-left: 1px solid var(--c-soft);
    position: relative;
}

#time {
    border-left: 1px dashed var(--c-soft);
    position: relative;
    height: 50px;
}

.educationBlockWrap:first-child {
    border-left: none;
    /* height: inherit; */
}

.educationBlockWrap:first-child>::before {
    content: '';
    position: absolute;
    height: 50%;
    top: calc(50%);
    left: 0;
    background-color: var(--c-soft);
    border-left: 1px solid var(--c-soft);
}

#time p {
    display: none;
}

.educationBlockWrap:last-child {
    border-left: none;
    height: inherit;
}

.educationBlockWrap:last-child>::before {
    content: '';
    position: absolute;
    height: 50%;
    top: 0;
    left: 0;
    background-color: var(--c-soft);
    border-left: 1px solid var(--c-soft);
}

.educationBlock {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.educationBlockShort {
    line-height: 1;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date {
    width: 250px;
    padding-left: 20px;
    position: relative;
    font-family: var(--font-mono);
    color: var(--c-primary);
}

.date ::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: calc(50% - 6px);
    left: -6px;
    justify-content: center;
    align-items: center;
}

[data-theme="light"] .date ::before {
    border: 1px solid #EEEAE6;
    background-color: rgba(120, 120, 120, 1.0);
}

[data-theme="dark"] .date ::before {
    border: 1px solid #EEEAE6;
    background-color: rgba(0, 0, 0, 1);
}

.header {
    position: relative;
    padding: 10px 50px 10px 50px;
    /* height: 150px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    /* line-height: 1.8; */
}

.header::before {
    content: '. . . . . . .';
    position: absolute;
    width: 60px;
    height: 0px;
    top: calc(50% - 18px);
    left: -40px;
    /* border-bottom: 3px dotted #EEEAE6; */
    justify-content: center;
    align-items: center;
}

.schoolName {
    width: 100%;
    padding-left: 30px;
}

.logo {
    display: block;
    position: absolute;
    width: 10px;
    height: 30px;
}

#ist {
    background-color: #7797b0;
}

#eeic {
    background-color: #EEEAE6;
}

#utokyo {
    background-image: linear-gradient(to bottom, #deb503 55%, #517fb4 50%);
    background-image: -o-linear-gradient(bottom, #deb503 55%, #517fb4 50%);
    background-image: -moz-linear-gradient(bottom, #deb503 55%, #517fb4 50%);
    background-image: -webkit-linear-gradient(bottom, #deb503 55%, #517fb4 50%);
    background-image: -ms-linear-gradient(bottom, #deb503 55%, #517fb4 50%);
}

#nido {
    background-image: linear-gradient(to bottom, #141d60 50%, #a01a23 50%);
    background-image: -o-linear-gradient(bottom, #141d60 50%, #a01a23 50%);
    background-image: -moz-linear-gradient(bottom, #141d60 50%, #a01a23 50%);
    background-image: -webkit-linear-gradient(bottom, #141d60 50%, #a01a23 50%);
    background-image: -ms-linear-gradient(bottom, #141d60 50%, #a01a23 50%);
}

#highschool {
    background-color: #045a02;
}

#cty {
    background-color: #1c2f5a;
}

#transparent {
    background-color: #555;
}

.countryName {
    display: block;
    font-family: var(--font-mono);
    color: #666;
    font-size: 14px;
    padding-top: 4px;
    /* padding-left: 4px; */
}

.schoolName a {
    text-decoration: none;
    color: inherit
}

.schoolName a:hover {
    text-decoration: underline;
}

.dark {
    color: #888;
}

.publication {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

[data-theme="light"] .publication {
    background-color: rgba(175, 175, 175, .3);
}

[data-theme="dark"] .publication {
    background-color: rgba(100, 100, 100, .3);
    border: 1px solid rgba(0, 0, 0, 0.5);
}


.publication h3 {
    font-size: 20px;
}

.abstract {
    font-size: 13px;
    padding: 5px;
    padding-bottom: 10px;
    text-align: justify;
}

.footnote {
    padding-top: 15px;
    font-size: 13px;
    text-align: right;
    color: #444;
}

.ieeexplore {
    font-size: 13px;
    color: #aaa !important;
}

[data-theme="light"] .footnote {
    border-top: 1px solid #bbb;
}
[data-theme="dark"] .footnote {
    border-top: 1px solid #ddd;
}

[data-theme="light"] .footnote>span {
    color: #ff0;
}

[data-theme="dark"] .footnote>span {
    color: #ffa;
}

[data-theme="dark"] .footnote {
    border-top: 1px solid #444;
    color: #aaa;
}

/* Mobile */
@media (max-width: 700px) {
    .header::before {
        display: none;
    }

    .date {
        width: 100px;
        padding-left: 0;
    }

    .date ::before {
        display: none;
    }

    .educationBlockWrap {
        border: none;
        padding-left: 0px;
        display: block;
    }

    .educationBlockShort {
        display: block;
    }

    .educationBlock {
        display: block;
    }

    .header {
        padding: 20px 0px 20px 0px;
    }

    .educationBlockWrap:first-child>::before {
        border: none;
        padding-left: 0px;
    }

    .educationBlockWrap:last-child>::before {
        border: none;
        padding-left: 0px;
    }

    #time {
        content: 'asdf';
        color: #EEEAE6;
        border: none;
        height: 15px;
        margin-bottom: 50px;
    }

    #time p {
        display: block;
    }
}