.carrerBlock {
    border: 1px solid #444;
    padding: 20px;
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}

.carrerBlock:last-child {
    margin-bottom: 10px;
}

.header {
    padding-bottom: 10px;
    border-bottom: 1px solid #444;
}

@media (prefers-color-scheme: dark) {
    .careerBlock {
        border: 1px solid #ccc;
    }
    .header {
        border-bottom: 1px solid #ccc;
    }
}

.carrerBlock>.text {
    padding-top: 15px;
}

.skills {
    color: #555;
    font-size: 13px;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
}

.date {
    color: #555;
    font-size: 13px;
    padding-top: 3px;
}

@media (prefers-color-scheme: dark) {
    .skills {
        color: #999;
    }
    .date {
        color: #999;
    }
}

.careerBlock a {
    color: inherit
}

.header>div>p>span {
    color: #bbbb00;
}

@media (prefers-color-scheme: dark) {
    .header>div>p>span {
        color: #ffa;
    }
}

.header>h3>p>span {
    color: #777;
    font-size: 23px;
}

@media (prefers-color-scheme: dark) {
    .header>h3>p>span {
        color: #aaa;
    }
}