.carrerBlock {
    padding: 20px;
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}

.carrerBlock:last-child {
    margin-bottom: 10px;
}

.header {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--c-primary);
}

[data-theme="light"] .carrerBlock {
    border: 1px solid #444;
}
[data-theme="dark"] .carrerBlock {
    border: 1px solid #ccc;
}

.carrerBlock>.text {
    padding-top: 15px;
}

.skills {
    font-size: 13px;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
}

.date {
    font-size: 13px;
    padding-top: 3px;
}

[data-theme="light"] .skills {
    color: #555;
}
[data-theme="dark"] .skills {
    color: #999;
}

[data-theme="light"] .date {
    color: #555;
}
[data-theme="dark"] .date {
    color: #999;
}

.careerBlock a {
    color: inherit
}

.header>div>p>span {
    color: #bbbb00;
}

[data-theme="dark"] .header>div>p>span {
    color: #ffa;
}

.header>h3>p>span {
    color: #777;
    font-size: 23px;
}

@media (prefers-color-scheme: dark) {
    .header>h3>p>span {
        color: #aaa;
    }
}