.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: -webkit-fill-available;
    position: fixed;
    width: 100%;
    overflow: scroll;
    min-height: 100vh;
    overflow-x: hidden;
}

[data-theme="light"] .main {
    background-image: url('../imgs/bg-masthead.webp');
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-color: #135671;
}
[data-theme="dark"] .main {
    background-image: url('../imgs/dark-bg-masthead.webp');
    background-repeat: no-repeat;
    background-color: #280000;
    background-position: center;
}

.description {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    font-family: var(--font-mono);
}

.description a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.description p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
}

.carrerLink {
    color: inherit;
}

.center::before,
.center::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
}

.thirteen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    padding: 25px 10px;
    margin-left: 16px;
    transform: translateZ(0);
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
    content: '';
    position: absolute;
    z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
    animation: 6s rotate linear infinite;
    width: 200%;
    height: 200%;
    background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
    inset: 0;
    padding: 1px;
    border-radius: var(--border-radius);
    background: linear-gradient(to bottom right,
            rgba(var(--tile-start-rgb), 1),
            rgba(var(--tile-end-rgb), 1));
    background-clip: content-box;
}

.maincontainer {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.mainArea {
    width: 100%;
    color: var(--c-primary); 
    border-radius: 10px;
    background-color: var(--c-background-primary);
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.homep {
    line-height: 2;
    margin-bottom: 20px;
}

.mainAreaTransparent {
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* color: #333; */
    color: var(--c-primary);
    padding: 20px;
    min-height: 100vh;
    padding-left: 60px;
}

.contentArea {
    display: flex;
    /* color: #333; */
    color: var(--c-primary);
}

.name {
    margin-top: 50px;
    color: #EEEAE6;
    display: flex;
}

.name>div>h1 {
    font-size: 50px;
    color: #EEEAE6;
    width: 100%;
    padding: 20px;
    padding-top: 0px;
    padding-left: 0px;
}

.name>div>span {
    color: #EEEAE6;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    padding-bottom: 0px;
    font-family: var(--font-mono);
    padding-left: 3px;
}

.navbarButtonWrap{
    position: relative;
    left: 0;
    left: max(1em, constant(safe-area-inset-left));
}

.navbarButton {
    position: absolute;
    width: 20px;
    top: 20px;
    left: 10px;
    color: #EEEAE6 !important;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    height: 50x;
    color: inherit;
}

.overlay {
    background-color: #111 !important;
    color: #EEEAE6 !important;
}

.navbarButton:hover {
    color: #999;
    cursor: pointer;
}

.heading {
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 5px;
}


.externalLinkIcon {
    width: 12px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.dark {
    color: #777;
}

.navbarButton {
    display: none;
    position: relative;
}

.darkModeButtonWrap {
    display: block;
    height: 18px;
    width: 18px;
    margin-top: 20px;
    margin-left: 32px;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    border: none;
    background: url("../imgs/logos/dark.svg") no-repeat scroll right center;
    background-origin: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

    .card:hover span {
        transform: translateX(4px);
    }
}

@media (prefers-reduced-motion) {
    .thirteen::before {
        animation: none;
    }

    .card:hover span {
        transform: none;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;
    }

    .card h2 {
        margin-bottom: 0.5rem;
    }

    .center {
        padding: 8rem 0 6rem;
    }

    .center::before {
        transform: none;
        height: 300px;
    }

    .description {
        font-size: 0.8rem;
    }

    .description a {
        padding: 1rem;
    }

    .description p,
    .description div {
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
    }

    .description p {
        align-items: center;
        inset: 0 0 auto;
        padding: 2rem 1rem 1.4rem;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
        background: linear-gradient(to bottom,
                rgba(var(--background-start-rgb), 1),
                rgba(var(--callout-rgb), 0.5));
        background-clip: padding-box;
        backdrop-filter: blur(24px);
    }

    .description div {
        align-items: flex-end;
        pointer-events: none;
        inset: auto 0 0;
        padding: 2rem;
        height: 200px;
        background: linear-gradient(to bottom,
                transparent 0%,
                rgb(var(--background-end-rgb)) 40%);
        z-index: 1;
    }

    .maincontainer {
        width: 100%;
    }

    .mainArea {
        padding: 5px 20px 5px 20px;
    }

    .mainAreaTransparent {
        /* padding: 0px 20px 0px 20px; */
        padding: 0px;
        margin: 0px;
    }

    .name h1 {
        font-size: 30px;
    }
    
    .navbarButton {
        display: block;
    }
    .name {
        padding-left: 10px;
        margin-top: 30px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
    .maincontainer {
        width: 90%;
    }
    .navbarButton {
        display: block;
    }
    .name {
        margin-top: 30px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Desktop */
@media (min-width: 1400px) {
    .maincontainer {
        width: 1200px;
    }
}

.maincontainer a:hover {
    color: #333;
}

.contentArea a:hover {
    color: #333;
}

/* @media (prefers-color-scheme: dark) {
    .maincontainer a:hover {
        color: #EEEAE6;
    }

    .contentArea a:hover {
        color: #EEEAE6;
    } */
/* } */

.youtube {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.youtubeTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtubeTitle>p {
    display: flex;
    font-family: var(--font-mono);
    padding-right: 20px;
}

.youtube>iframe {
    margin: auto;
}

.homep a {
    text-decoration: underline;
    color: inherit;
}