.block {
    color: #EEEAE6;
    background-color: rgba(100, 100, 100, .3);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 2px 0px rgba(0,0,0,0.75);
}

.block>h3 {
    width: 100%;
    padding: 20px;
    display: block;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(100, 100, 100, .3); 
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.quality {
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.quality>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding: 10px;
    overflow: hidden;
}

.quality div {
    display: block;
    overflow: hidden;
}

.quality>div>div>div {
    color: #EEEAE6;
}

.name {
    
    padding: 0px 10px 0px 10px;
}

.quality>div>div a {
    /* margin-left: 25px; */
    font-family: var(--font-mono);
}

.quality>div>div>div>span {
    display: inline-block;
    font-family: var(--font-mono);
}

.quality a {
    text-decoration: none;
    color: inherit;
}

.qualityName {
    font-size: 12px;
}