.sidebar {
    font-family: var(--font-mono);
    margin: 0;
    padding: 0;
    width: 250px;
    color: #EEEAE6;
    height: 100%;
    overflow: auto;
    margin-top: 30px;
    left: 0;
    order: 0;
}

.sidebar a {
    display: block;
    color: #EEEAE6;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover {
    color: #EEEAE6 !important;
    text-decoration: underline;
}

/* Mobile */
/* @media (max-width: 700px) {
    .sidebar {
        display: none;
    }
} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
    .sidebar {
        display: none;
    }
} */