.sidebar {
    font-family: var(--font-mono);
    margin: 0;
    padding: 0;
    width: 250px;
    color: #EEEAE6;
    height: 100%;
    overflow: auto;
    margin-top: 30px;
    left: 0;
    order: 0;
}

.sidebar a {
    display: block;
    color: #EEEAE6 !important;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover {
    color: #EEEAE6 !important;
    text-decoration: underline;
}
